.box {
  width: 300px;
  height: 200px;
  background-color: #0000ff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.box .box1 {
  width: 100px;
  height: 100px;
  background-color: #ffc0cb;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.box:hover {
  background-color: yellowgreen;
}
